@import "../../../app.component.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-section {
    flex:1;
    display: flex;

  }


  @media screen and (max-width: $break-small) {
    .main-section{
      padding: 0;
    }
  }

  @media screen and (min-width: $break-small) {
    .main-section {
      padding: 1rem;
    }
  }

}
