@import "../../../app.component.scss";


button {
  background-color: $color-gold;
  border: none;
  color:$color-white;
  padding: .5rem;
  font-size: 1.2rem;
  width: 100%;
  transition: background-color 0.1s linear;
}

button:hover {

  background-color: $color-gold-hover;
}

button:disabled {
  cursor: default;
  background-color: $color-light-grey;
}
