$color-white: white;
$color-grey: #262626;
$color-grey-hover: #464646;
$color-success: #5CB85C;
$color-blue: #2196F3;
$color-gold: #C2883C;
$color-gold-hover: #E3A85A ;

$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;
