<footer>
  <app-title class="title">
    S.H.I.E.L.D.
    <app-subtitle>by Adrián Ferrera González</app-subtitle>
  </app-title>

  <ul>
    <li><a href="https://twitter.com/AdrianFerrera91">Twitter</a></li>
    <li><a href="https://github.com/adrian-afergon">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/adri%C3%A1n-ferrera-gonz%C3%A1lez-347b5755/" >LinkedIn</a></li>
    <li><a href="https://medium.com/@Afergon">Medium</a></li>
    <li><a href="mailto:adrian.afergon@gmail.com">Email</a></li>
  </ul>
</footer>
